#icea-member-pane .icea-panel {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #656565;
}

#icea-member-pane row {
  margin-left: 0;
  margin-right: 0;
}

.energy-production > h1 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.icea-panel h2 {
  font-size: 1.5em;
  margin: 0;
}

.icea-panel hr {
  color: #ddd;
}

.icea-panel h3 {
  font-size: 1.2em;
  margin: 0;
}

.icea-panel .verb {
  margin-top: 15px;
}

.icea-panel p {
  margin-top: 15px;
}

.icea-panel-body {
  padding-left: 0;
  padding-right: 0;
}

.icea-panel .data {
  font-weight: bold;
}

#icea-data, .member-info {
  height: 125px;
  max-height: 125px;
  padding: 20px 0;
}

#icea-data > h2 {
  margin-bottom: 25px;
}

#member-logo {
  max-height: 85px;
  max-width: 400px;
}

#icea-member {
  margin: 15px 0 0 0;
}

.icea-panel .energy-production {
  background-color: #1F2933;
  color: #fff;
  padding: 15px;
  height: 120px;
}

#infographics {
  padding: 0 15%;
}

.carousel-button-left, .carousel-button-right {
  color: #72C4C0;
  margin-top: 50px;
  display: none;
}

.carousel-button-left:hover, .carousel-button-right:hover {
  cursor: pointer;
  color: #fff;
  text-shadow: -1px 0 #1f2933, 0 1px #1f2933, 1px 0 #1f2933, 0 -1px #1f2933;
}