.icea-panel {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #656565;
}

.icea-panel h2 {
  font-size: 1.5em;
  margin: 0;
}

.icea-panel hr {
  color: #ddd;
}

.icea-panel h3 {
  font-size: 1.2em;
  margin: 0;
}

.icea-panel p {
  margin-top: 15px;
}

.icea-panel-body {
  padding-left: 0;
  padding-right: 0;
}



.data {
  font-weight: bold;
}

#icea-data {
  padding: 20px 0;
  background-color: #1F2933;
  color: #F8F8F8;
}

#icea-data > h2 {
  margin-bottom: 25px;
}

#member-logo {
  max-height: 85px;
  max-width: 400px;
}

#icea-member {
  color: #000;
  margin: 15px 0 0 0;
}

.member-info {
  color: #1f2933;
  padding: 15px;
  height: 120px;
}

#infographics {
  margin-top: 20px;
}

.container {
  margin-top: 50px;
  max-width: 500px;
}